.Emergency {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #f4f4f4;
}

.shelter {
  flex: 1;
  margin-right: 20px;
}

.map-container {
  height: 100%;
  max-width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact {
  flex: 1;
  margin-left: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.shelter h1 {
  margin-bottom: 20px;
}

